


<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<style>
body
{
    background-image: url('https://images.wallpaperscraft.com/image/single/new_york_night_buildings_58972_1600x900.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.pd{
padding-bottom:45%;}
</style>
</head>
<body>

<br>
<center><b class="pd"><font color="black" size="25" font-family="Comic Sans MS" >Traffic volume estimation</font></b></center><br><br>
<div>
<br>
<center>
<p><font color="black" size="25"> {{result}} </p>  
</center>
</div>
</body>
</html>
